* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-name {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.project-name-text {
  width: 80%;
}

.top {
  width: 100%;
}

.board {
  width: 320px;
  min-height: 100vh;
}

.bg-skyblue {
  background-color: rgb(48, 191, 191);
}

.h-top {
  height: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

@media (max-resolution: 1dppx) and (max-width: 1024px) and (max-height: 1366px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 899.99px) {
}

@media (max-width: 812px) and (max-height: 414px) {
}

@media (max-width: 768px) and (max-height: 1024px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}

@media (max-height: 375px) {
}

@media (max-width: 320px) {
}

@media (max-width: 260px) {
}
