* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow-y: hidden; */
  user-select: none;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}

.home {
  width: 100%;
  height: 100vh;
}

.project-name {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.project-name-text {
  width: 80%;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
}

.top-home {
  width: 100px;
  text-align: center;
  font-size: 20px;
  border-right: 1px solid rgb(220, 226, 230);
}

.top-title {
  color: rgb(61, 71, 77);
  width: 225px;
  padding-left: 20px;
  font-size: 26px;
  border-right: 1px solid rgb(220, 226, 230);
}

.board {
  display: flex;
  flex-direction: row;
}

.change-project-title {
  height: 90%;
  border-radius: 10px;
  border: none;
  font-size: 26px;
  margin-left: -2px;
}

.card-box {
  width: 320px;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: rgb(241, 244, 245); */
}

.card-head-angle {
  width: 20px;
}

.no-task {
  height: 600px;
}

.no-task-check {
  font-size: 46px;
}

.no-task-title {
  font-size: 18px;
  margin: 15px 0px;
}

.no-task-desc {
  margin: 2px 0px;
}

.mt-5px {
  margin-top: 5px;
}

.add-section-title-box {
  display: flex;
  flex: row;
}

.add-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.card-body {
  overflow-y: scroll;
  height: 800px;
}

.card {
  /* min-height: 150px; */
}

.modal-paper {
  background-color: white;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  width: 700px;
  min-height: 200px;
  overflow: scroll;
}

.card-detail-header {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgb(220, 226, 230);
}

.card-detail-left {
  width: 100%;
  padding: 20px;
  height: 800px;
  overflow: scroll;
}

.card-deatil-title {
  color: rgb(61, 71, 77);
  font-size: 20px;
  margin: 10px 0px;
  width: 100%;
}

.card-deatil-note-box {
  height: 50px;
  width: 100%;
  margin: 10px 0px;
}

.card-detail-note {
  font-size: 16px;
  color: rgb(140, 150, 155);
  width: 100%;
  padding: 11px 10px 10px 10px;
  min-height: 40px;
}

.card-deatil-note-input {
  font-size: 16px;
  color: rgb(140, 150, 155);
  width: 100%;
  background-color: rgb(247, 249, 250);
  border-radius: 5px;
  min-height: 40px;
  padding: 0px 10px;
}

.card-deatil-checklist {
  font-size: 16px;
  margin: 10px 0px;
  width: 100%;
  padding: 10px;
}

.card-detail-activity {
  width: 100%;
  resize: none;
  height: 100px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgb(220, 226, 230);
  margin: 10px 0px;
}

.activity-log {
  margin: 15px 0px;
  min-height: 50px;
  width: 100%;
}

.font-12px {
  font-size: 12px;
}

.my-5px {
  margin: 5px 0px;
}

.my-10px {
  margin: 10px 0px;
}

.card-detail-project-info {
  padding: 15px;
  font-size: 15px;
  color: rgb(138, 148, 153);
}

.card-detail-body {
  display: flex;
}

.card-detail-right {
  width: 300px;
  border-radius: 0px 0px 10px 0px;
  border-left: 1px solid rgb(211, 211, 211);
}

.card-detail-close {
  font-size: 24px;
  margin: 5px;
}

.card-detail-close:hover {
  color: rgb(97, 97, 97);
}

.due-date {
  padding: 10px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.card-content-title {
  height: 30px;
  padding: 10px;
}

.complete-btn {
  height: 36px;
  padding: 0px 15px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background-color: rgb(48, 191, 191);
}

.complete-btn:hover {
  background-color: rgb(70, 193, 254);
}

.complete-btn-disabled {
  height: 36px;
  padding: 0px 15px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background-color: rgb(147, 147, 147);
}

.add-card-icon {
  border-radius: 50%;
  color: rgb(138, 148, 153);
  padding: 10px 12px;
  background-color: white;
}

.add-card-title {
  height: 100%;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid rgb(0, 170, 255);
}

.add-section-img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.change-section-title {
  height: 90%;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  padding: 10px;
}

.subtitle-box {
  font-size: 20px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.checklist-row {
  padding: 2px 10px;
  align-content: center;
  border-radius: 7px;
  margin: 7px 0px;
}

.checklist-row:hover {
  background-color: rgb(247, 247, 247);
}

.checklist-circle {
  color: rgb(0, 170, 255);
  font-size: 22px;
  margin-top: 2px;
}

.checklist-content {
  width: 100%;
  padding: 0px 10px;
  font-size: 16px;
  color: rgb(110, 117, 122);
  background-color: transparent;
}

.icon-box {
  margin: 0px 20px;
}

.section-title {
  display: flex;
  align-items: center;
}

.activity-row {
  margin: 20px 0px;
}

.activity-icon {
  font-size: 32px;
  margin: 10px;
  padding: 0px 10px;
}

.activity-content {
  font-size: 14px;
}

.text-bolder {
  font-weight: 800;
}

.text-right {
  text-align: right;
}

.pt-2px {
  padding-top: 2px;
}

.w-60per {
  width: 60%;
}

.w-90per {
  width: 90%;
}

.p-10px {
  padding: 10px;
}

.cards-num {
  font-size: 16px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.circle-icon {
  padding: 2px 3px;
  border-radius: 50%;
  background-color: rgb(215, 215, 215);
  margin: 7px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.bg-head-0 {
  background-color: rgb(48, 191, 191);
}

.bg-head-1 {
  background-color: rgb(0, 170, 255);
}

.bg-head-2 {
  background-color: rgb(143, 126, 230);
}

.bg-head-3 {
  background-color: rgb(255, 213, 0);
}

.bg-head-4 {
  background-color: rgb(217, 54, 81);
}

.bg-head-5 {
  background-color: rgb(255, 159, 26);
}

.bg-head-6 {
  background-color: rgb(138, 204, 71);
}

.bg-grey-0 {
  background-color: rgb(239, 243, 244);
}

.bg-grey-1 {
  background-color: rgb(236, 239, 240);
}

.h-top {
  height: 60px;
}

.text-white {
  color: white;
}

.text-skyblue {
  color: rgb(0, 170, 255);
}

.text-purple {
  color: rgb(143, 126, 230);
}

.text-yellow {
  color: rgb(255, 213, 0);
}

.text-red {
  color: rgb(217, 54, 81);
}

.text-orange {
  color: rgb(255, 159, 26);
}

.text-green {
  color: rgb(138, 204, 71);
}

.text-grey {
  color: rgb(138, 148, 153);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-text {
  cursor: text;
}

.float-right {
  float: right;
}

.w-100per {
  width: 100%;
}

.mb-25px {
  margin-bottom: 25px;
}

.box-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}

.border-none {
  border: none;
}

@media (max-resolution: 1dppx) and (max-width: 1024px) and (max-height: 1366px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 899.99px) {
}

@media (max-width: 812px) and (max-height: 414px) {
}

@media (max-width: 768px) and (max-height: 1024px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}

@media (max-height: 375px) {
}

@media (max-width: 320px) {
}

@media (max-width: 260px) {
}
